image: uf-mil:navigator

stages:
  - checkout
  - build
  - test
  - format

ckeckout:
  stage: checkout
  script:
    - source ~/.mil/milrc > /dev/null 2>&1
    - git submodule update --init --recursive
    - ln -s $PWD $CATKIN_DIR/src/NaviGator
    - git clone --recursive https://github.com/uf-mil/mil_common $CATKIN_DIR/src/mil_common

build:
  stage: build
  script:
    - source ~/.mil/milrc > /dev/null 2>&1
    - catkin_make -C $CATKIN_DIR -B

test:
  stage: test
  script:
    - source ~/.mil/milrc > /dev/null 2>&1
    - source $CATKIN_DIR/devel/setup.bash > /dev/null 2>&1
    - catkin_make -C $CATKIN_DIR run_tests
    - catkin_test_results $CATKIN_DIR/build/test_results --verbose

format:
  stage: format
  script:
  - sh ''if [[ ! -z "$(python2.7 -m flake8 --ignore E731 --exclude=./deprecated,./gnc/navigator_path_planner/lqRRT,__init__.py --max-line-length=120 .)" ]] then; echo "The preceding Python files are not formatted correctly" && exit 1 fi''
  - sh ~/NaviGator/scripts/format.sh